<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_UILayoutHead")

<body>

    <div class="boxed_wrapper">

        <!-- preloader -->
        @await Component.InvokeAsync("_UILayoutPreloader")
        <!-- preloader end -->
        <!-- product sidebar -->
        @await Component.InvokeAsync("_UILayoutSidebar")
        <!-- product sidebar end -->
        <!-- main header -->
        @await Component.InvokeAsync("_UILayoutHeader")
        <!-- main header end -->
        <!-- Mobile Menu -->
        @await Component.InvokeAsync("_UILayoutMobileMenu")
        <!-- End Mobile Menu -->
        <!-- page content -->
        @RenderBody()
        <!-- page content end -->
        <!-- main footer -->
        @await Component.InvokeAsync("_UILayoutFooter")
        <!-- main footer end -->
        <!-- Scroll to top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="icon-Arrow-Up"></span>
        </button>

    </div>

    @await Component.InvokeAsync("_UILayoutScript")
    @RenderSection("Scripts", required: false)
</body>
</html>
