@model IList<MyAcademyCQRS.Core.Application.Features.Results.ServiceResults.GetActiveServicesQueryResult>

<section class="service-section sec-pad centred"
         style="background-image: url(~/BageryPack/Bagery/assets/images/background/service-1.jpg);">

    <div class="auto-container">

        <div class="sec-title">
            <p>Services</p>
            <h2>
                Quality & Passion with <br />
                our Services!
            </h2>
        </div>

        <div class="row clearfix">

            @foreach (var item in Model.Take(4))
            {
                <div class="col-lg-3 col-md-6 col-sm-12 service-block">

                    <div class="service-block-one">

                        <div class="inner-box">

                            <div class="icon-box wow fadeInDown animated animated">

                                <div class="bg-layer"
                                     style="background-image: url(~/BageryPack/Bagery/assets/images/icons/icon-bg-3.png);">
                                </div>

                                <i class="@item.Icon"></i>

                            </div>

                            <div class="lower-content wow fadeInUp animated animated">

                                <h3>
                                    <a href="#">
                                        @item.Title
                                    </a>
                                </h3>

                                <p>@item.Description</p>

                                <div class="btn-box">
                                    <a href="#">
                                        Read More
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            }

        </div>

    </div>

</section>
