@model IList<MyAcademyCQRS.Core.Application.Features.Results.ProductResults.GetActiveProductsQueryResult>

<section class="shop-section"
         style="background-image: url(~/BageryPack/Bagery/assets/images/background/shop-1.jpg);">

    <div class="auto-container">

        <div class="sec-title">
            <p>Our Shop</p>
            <h2>
                Our all Delicious <br />
                Products.
            </h2>
        </div>

        <div class="four-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">

            @foreach (var item in Model.Take(8))
            {
                <div class="shop-block-one">

                    <div class="inner-box">

                        <figure class="image-box">
                            <img src="@item.ImageUrl" alt="">
                        </figure>

                        <div class="lower-content">

                            <span class="price-box">
                                $@item.Price
                            </span>

                            <h3>
                                <a href="#">
                                    @item.Name
                                </a>
                            </h3>

                            <ul class="rating clearfix">
                                @for (var i = 0; i < Math.Min(item.Rating, 5); i++)
                                {
                                    <li>
                                        <i class="icon-Star"></i>
                                    </li>
                                }
                            </ul>

                            <div class="cart-btn">
                                <a href="#"
                                   class="theme-btn-two">
                                    Add to cart
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            }

        </div>

    </div>

</section>
