@using MyAcademyCQRS.Models.Auths
@model ProfileViewModel

<section class="shop-section sec-pad">
    <div class="auto-container">
        <h2>Hesabım</h2>

        <form asp-action="Update" method="post" style="max-width:700px" class="mb-5">
            <div class="form-group mb-3">
                <label>Ad Soyad</label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group mb-3">
                <label>Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <button type="submit" class="theme-btn btn-one">Profili Güncelle</button>
        </form>

       
    </div>
</section>