@using MyAcademyCQRS.CQRSPattern.Results.CategoryResults
@model List<GetCategoriesQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Kategoriler</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach(var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <th>@item.Name</th>
            <td>
                <a asp-controller="Category"asp-action="DeleteCategory" asp-route-id="@item.Id"class="btn btn-danger">Sil</a>
                <a asp-controller="Category"asp-action="UpdateCategory" asp-route-id="@item.Id"class="btn btn-danger">Güncelle</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Category" asp-action="CreateCategory"  class="btn btn-dark">Ekle</a>
