@model MyAcademyCQRS.Core.Application.Features.Results.ContactInfoResults.GetActiveContactInfoQueryResult

<section class="contact-section sec-pad"
         style="background-image: url(@(Model?.BackgroundImageUrl ?? "~/BageryPack/Bagery/assets/images/background/contact-1.jpg"));">

    <div class="auto-container">

        <div class="sec-title centred">
            <p>Bize Ulaşın</p>
            <h2>İletişime Geçin</h2>
        </div>

        <div class="row clearfix">

            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="contact-info-inner">

                    <div class="single-box">
                        <h3>Çalışma Saatleri</h3>
                        <ul class="list clearfix">
                            <li>@Model?.OpeningHours</li>
                            <li>@Model?.HolidayHours</li>
                        </ul>
                    </div>

                    <div class="single-box">
                        <h3>İletişim Bilgileri</h3>
                        <ul class="list clearfix">
                            <li>@Model?.Address</li>
                            <li>
                                <a href="mailto:@Model?.Email">
                                    @Model?.Email
                                </a>
                            </li>
                            <li>
                                <a href="tel:@Model?.Phone">
                                    @Model?.Phone
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12 form-column">
                <div class="form-inner">

                    <h3>Bize Yazın</h3>

                    <form method="post"
                          action="#"
                          id="contact-form"
                          class="default-form">

                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text"
                                       name="username"
                                       placeholder="Your Name *"
                                       required="">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email"
                                       name="email"
                                       placeholder="Your Email *"
                                       required="">
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                <input type="text"
                                       name="phone"
                                       required=""
                                       placeholder="Your Phone">
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                <input type="text"
                                       name="subject"
                                       required=""
                                       placeholder="Subject">
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <textarea name="message"
                                          placeholder="Your Message ...">
                                </textarea>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                <button class="theme-btn-one"
                                        type="submit"
                                        name="submit-form">
                                    Submit Now
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</section>
