@model MyAcademyCQRS.Core.Application.Features.Results.OurStoryResults.GetActiveOurStoryQueryResult

<section class="ourstory-section sec-pad"
         style="background-image: url(/BageryPack/Bagery/assets/images/background/mission-1.jpg);">

    <div class="auto-container">

        <div class="sec-title centred">
            <p>Our Story</p>
            <h2>@Model?.Title</h2>
        </div>

        <div class="row align-items-center clearfix">

            <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                <div class="content-box">
                    <p>@Model?.Content</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                <figure class="image-box wow slideInUp animated animated">
                    <img src="@ImageUrlResolver.Resolve(Model?.ImageUrl)" alt="">
                </figure>
            </div>

        </div>

    </div>

</section>
