@model IList<MyAcademyCQRS.Core.Application.Features.Results.PromotionResults.GetActivePromotionsQueryResult>

<section class="promotion-section sec-pad"
         style="background-image: url(~/BageryPack/Bagery/assets/images/background/promotion-1.jpg);">

    <div class="auto-container">

        <div class="sec-title centred">
            <p>Promotion</p>
            <h2>
                Check all Flavours <br />
                Summer Promo
            </h2>
        </div>

        @foreach (var item in Model.Take(2))
        {
            <div class="inner-box mb-50 wow slideInRight animated animated">

                <div class="row clearfix">

                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">

                        <div class="content-box ml-10">

                            <div class="price-box"
                                 style="background-image: url(~/BageryPack/Bagery/assets/images/icons/icon-bg-4.png);">
                                <span>$@item.DiscountPrice</span>
                                <p>Only</p>
                            </div>

                            <h3>@item.Title</h3>

                            <p>@item.Description</p>

                            <div class="btn-box">
                                <a href="#"
                                   class="theme-btn-two">
                                    Let’s Order Now
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }

    </div>

</section>
