<footer class="main-footer" style="background-image: url(~/BageryPack/Bagery/assets/images/background/footer-1.jpg);">
    <div class="auto-container">
        <div class="subscribe-inner clearfix">
            <div class="text pull-left">
                <h2>E-Bülten'e Abone Olun</h2> <!-- Türkçeleştirildi -->
            </div>
            <div class="form-inner pull-right">
                <form action="#" method="post" class="subscribe-form">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="E-posta adresiniz" required="">
                        <button type="submit" class="theme-btn-one">Abone Ol</button> <!-- Türkçeleştirildi -->
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-top">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a href="/"><img src="~/BageryPack/Bagery/assets/images/footer-logo.png" alt=""></a></figure>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3>İletişim</h3> <!-- Türkçeleştirildi -->
                            </div>
                            <div class="widget-content">
                                <ul class="info-list clearfix">
                                    <li>Flat 20, Reynolds Neck, North <br />Helenaville, FV77 8WS</li>
                                    <li><a href="mailto:hallo@example.com">hallo@example.com</a></li>
                                    <li><a href="tel:23055873407">+2(305) 587-3407</a></li>
                                </ul>
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3>Hızlı Linkler</h3> <!-- Türkçeleştirildi -->
                            </div>
                            <div class="widget-content">
                                <ul class="links-list clearfix">
                                    <li><a href="/"><i class="fas fa-angle-right"></i>Şirket Geçmişi</a></li>
                                    <li><a href="/about"><i class="fas fa-angle-right"></i>Hakkımızda</a></li>
                                    <li><a href="/contact"><i class="fas fa-angle-right"></i>İletişim</a></li>
                                    <li><a href="/service"><i class="fas fa-angle-right"></i>Hizmetler</a></li>
                                    <li><a href="/"><i class="fas fa-angle-right"></i>Gizlilik Politikası</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget shediul-widget">
                            <div class="border-shape" style="background-image: url(/BageryPack/Bagery/assets/images/shape/shape-4.png);"></div>
                            <div class="widget-title">
                                <h3>Çalışma Saatleri</h3> <!-- Türkçeleştirildi -->
                            </div>
                            <div class="widget-content">
                                <ul class="shediul-list clearfix">
                                    <li>Pazartesi: <span>09:00 - 18:00</span></li>
                                    <li>Salı: <span>09:00 - 18:00</span></li>
                                    <li>Çarşamba: <span>09:00 - 18:00</span></li>
                                    <li>Perşembe: <span>09:00 - 18:00</span></li>
                                    <li>Cuma: <span>09:00 - 18:00</span></li>
                                    <li>Cumartesi - Pazar: <span>Kapalı</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <div class="copyright pull-left">
                <p><a href="/">Bagery</a> &copy; 2024 Tüm Hakları Saklıdır.</p> <!-- Yıl ve metin güncellendi -->
            </div>
            <ul class="footer-nav pull-right">
                <li><a href="/">Kullanım Koşulları</a></li>
                <li><a href="/">Gizlilik Politikası</a></li>
            </ul>
        </div>
    </div>
</footer>